{% extends 'application/base.html' %}

{% load static %}

{% block content %}

        <div class="card">
            <div class="card-header">
                {{ object.title }}
            </div>

            <div class="card-body">
                {{ object.description|linebreaks }}

                {{ object.get_interval_display }}

                {% if object.interval == 1 %}
                    {% if object.skip_weekend %}
                        Mo. bis Fr.
                    {% elif object.skip_weekdays %}
                        Sa. und So.
                    {% endif %}
                {% elif object.interval == 2 %}
                    {{ object.get_day_of_week_display }}
                {% else %}
                    {{ object.get_day_of_month_display }}
                {% endif %}

            <hr>
            <div>Aktiv: {{ habit.is_active }}</div>
            <div>{{ habit.get_direction }}</div>
            <div>Link: <a href="{{ habit.link }}">{{ habit.link }}</a></div>
            {% if habit.goal %}
            <div>
                {% url 'goal-detail' habit.goal.id_slug as goal_url %}
                Ziel: <a href="{{ goal_url }}">{{ habit.goal }}</a>
            </div>
            {% endif %}

            <hr>
                <div>Reihe: {{ object.current_streak }}</div>
                <div>Gesamt: {{ object.total_done }}</div>
                <div>Längste Reihe: {{ object.highest_streak }}</div>
                <div>Last Event: {{ object.last_day }} ({{ object.get_last_day_action_display }})</div>
                <div>Gesamt Done: {{ habit.total_done }}</div>
                <div>Gesamt Skiped: {{ habit.total_canceled }}</div>
                <div>Gesamt Failed: {{ habit.total_failed }}</div>
                <div>Gesamt: {{ habit.total_counter }}</div>

            <hr>
            Privatsphäre
                <br>
                Wer kann diesen Eintrag sehen?
                {{ habit.get_privacy_display }}
            <div>

            </div>
            </div>

            <div class="card-footer">
                <a href="{% url 'habits' %}">
                    <button class="btn btn-primary">Übersicht</button>
                </a>
                <a href="{% url 'habit-update' object.id_slug %}">
                    <button class="btn btn-primary">Bearbeiten</button>
                </a>
                <a href="{% url 'habit-delete' object.id_slug %}">
                    <button class="btn btn-danger">Löschen</button>
                </a>
            </div>
        </div>

{% endblock %}