{% extends 'application/base.html' %}

{% load static %}

{% block content %}

                <h2>Visionen</h2>

                {% for vision in object.get_visions %}

                <div class="card mt-3 mb-3">
                    <div class="card-header color-{{ vision.0 }}">
                        <h4>{{ vision.0 }}. {{ vision.1 }}</h4>
                    </div>
                    <div class="card-body">
                        {{ vision.2|linebreaks }}
                        <a href="{% url 'habitprofile-update' %}?field=vision_{{ vision.0 }}">Bearbeiten</a>
                        <a href="{% url 'sphere' vision.0 %}">Sphere</a>
                    </div>
                </div>
                {% endfor %}

{% endblock %}
