{% extends 'application/base.html' %}

{% load static %}

{% block content %}

        <div class="card">
            <div class="card-header">
                <h3>{{ object }}</h3>
            </div>
            <div class="card-body">
                {{ object.summary|linebreaks }}

                <ol>
                    {% for chapter in object.chapter_set.all %}
                        <li>
                            <a href="{% url 'chapter-detail' object.id_slug chapter.order_num %}">{{ chapter }}</a><br>
                        </li>
                        {{ chapter.summary|linebreaks }}
                        {% if not chapter.order_num == 0 %}
                        <a href="{% url 'chapter-down' object.id_slug chapter.order_num %}">
                            <i class="fas fa-chevron-up"> Nach vorne</i><br>
                        </a>
                        {% endif %}

                        {% if not chapter.order_num_plus_one == object.no_chapters %}
                        <a href="{% url 'chapter-up' object.id_slug chapter.order_num %}">
                            <i class="fas fa-chevron-down"> Nach hinten</i>
                        </a>
                        {% endif %}

                    {% endfor %}
                </ol>

            <a href="{% url 'book-update' object.id_slug %}">
                <button class="btn btn-primary">Bearbeiten</button>
            </a>

            <a href="{% url 'chapter-create' object.id_slug %}">
                <button class="btn btn-primary">Neues Kapitel</button>
            </a>

            </div>
        </div>

{% endblock %}