{% extends 'application/base.html' %}

{% load static %}

{% block content %}

        <div class="card">
            <div class="card-header">
                <h3>{{ object }}</h3>
            </div>
            <div class="card-body">
                {{ object.summary|linebreaks }}

                <ol>
                    {% for chapter in object.chapter_set.all %}
                        <li>
                            <a href="{% url 'chapter-detail' object.id_slug chapter.order_num %}">{{ chapter }}</a><br>
                        </li>
                        {{ chapter.summary|linebreaks }}
                    {% endfor %}
                </ol>

            <a href="{% url 'book-update' object.id_slug %}">
                <button class="btn btn-primary">Bearbeiten</button>
            </a>

            <a href="{% url 'chapter-create' object.id_slug %}">
                <button class="btn btn-primary">Neues Kapitel</button>
            </a>

            </div>
        </div>

{% endblock %}