.color-code-1 {background-color: #f53925 !important;} /* Arbeit */
.color-code-2 {background-color: #b667d9 !important;} /* Finanzen */
.color-code-3 {background-color: #7fbbe2 !important;}   /* Gesundheit */
.color-code-4 {background-color: #58f8d4 !important;} /* Freizeit */
.color-code-5 {background-color: rgb(10, 142, 146) !important;}  /* Beziehung */
.color-code-6 {background-color: #1485c6 !important;}  /* Familie */
.color-code-7 {background-color: #33ac67 !important;}  /* Geselligkeit */
.color-code-8 {background-color: rgb(241, 135, 64) !important;}  /* Perönlichkeit */

.color-1 {background-color: rgba(245, 57, 37, 0.7) !important;} /* Arbeit */
.color-2 {background-color: #f8e16c !important;} /* Finanzen */
.color-3 {background-color: #ffc2b4 !important;}   /* Gesundheit */
.color-4 {background-color: #00c49a !important;} /* Freizeit */
.color-5 {background-color: #156064 !important;}  /* Beziehung */
.color-6 {background-color: #af5b5b !important;}  /* Familie */
.color-7 {background-color: #1485c6 !important;}  /* Geselligkeit */
.color-8 {background-color: #fb8f67 !important;}  /* Perönlichkeit */
