{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eliOS App elevate</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/eliosapp.css' %}" rel="stylesheet">
    <!-- // using local source to improve code completion
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://kit.fontawesome.com/60a7f83830.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid">
    <div class="btn-group" role="group">
        <a href="{% url 'landingpage' %}"><button type="button" class="btn btn-primary">Home</button></a>
    </div>
</div>

<div class="container">

    {% block content %}
        <div class="card">
        {{ data }}
        <hr>
        <h3>Habit Checklist</h3>

        {% for habit in user.habitprofile.get_habits_today %}
            {{ habit }}<br>
        {% endfor %}

        <hr>
        <strong>Navigation</strong>
        <div class="row">
            <div class="col-2">
                <a href="{% url 'account-detail' %}">Account</a><br>
                <a href="{% url 'account-update' %}">Account Update</a>
            </div>
            <div class="col-2">
                {% if perms.health.health_app %}
                    <a href="{% url 'health-weight' %}">Gewicht Liste</a><br>
                    <a href="{% url 'health-weight-create' %}">Gewicht erfassen</a>
                {% endif %}
            </div>

            <div class="col-2">
                {% if perms.personality.personality_app %}
                    <a href="{% url 'personality' %}">Persönlichkeitsprofil</a>
                {% endif %}
            </div>

            <div class="col-2">
                {% if perms.habit.habit_app %}
                    <a href="{% url 'habitprofile' %}">Visionen</a><br>
                    <a href="{% url 'goals' %}">Ziele</a><br>
                    <a href="{% url 'habits' %}">Gewohnheiten</a>
                {% endif %}
            </div>

            <div class="col-2">
                {% if perms.knowledge.knowledge_app %}
                    <a href="{% url 'book-create' %}">Neues Buch</a><br>
                    <a href="{% url 'books' %}">Alle Bücher</a><br>
                    <a href="{% url 'book-random' %}">Zufälliges Buch</a><br>
                    <a href="{% url 'chapter-random' %}">Zufälliges Kapitel</a>
                {% endif %}
            </div>

        </div>

        </div>
    {% endblock content %}

</div>

</body>
</html>