{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eliOS App elevate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>

<div class="container">
<div class="card">
    {% block content %}
        {{ data }}

        <h1>Navigation</h1>

        <a href="{% url 'health-weight' %}">Gewicht Liste</a>
        <a href="{% url 'health-weight-create' %}">Gewicht erfassen</a>

        <video autoplay loop muted>
          <source src="{% static 'aRP1Gr7_460sv.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    {% endblock content %}
</div>


</div>

</body>
</html>