{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eliOS App elevate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://kit.fontawesome.com/60a7f83830.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid">
    <div class="btn-group" role="group">
        <a href="{% url 'landingpage' %}"><button type="button" class="btn btn-primary">Home</button></a>
    </div>
</div>

<div class="container">

    {% block content %}
        <div class="card">
        {{ data }}
        <hr>
        <h3>Habit Checklist</h3>

        {% for habit in user.habitprofile.get_habits_today %}
            {{ habit }}<br>
        {% endfor %}
        <hr>
        <a href="{% url 'account-detail' %}">Account</a>
        <a href="{% url 'account-update' %}">Account Update</a>

        {% if perms.health.health_app %}
            <hr>
            <a href="{% url 'health-weight' %}">Gewicht Liste</a>
            <a href="{% url 'health-weight-create' %}">Gewicht erfassen</a>
        {% endif %}

        {% if perms.personality.personality_app %}
            <hr>
            <a href="{% url 'personality' %}">Persönlichkeitsprofil</a>
        {% endif %}

        {% if perms.habit.habit_app %}
            <hr>
            <a href="{% url 'habitprofile' %}">Visionen</a>
            <a href="{% url 'goals' %}">Ziele</a>
            <a href="{% url 'goal-create' %}">Neues Ziel</a>
            <a href="{% url 'habits' %}">Gewohnheiten</a>
            <a href="{% url 'habit-create' %}">Neue Gewohnheit</a>
        {% endif %}

        {% if perms.knowledge.knowledge_app %}
            <hr>
            <a href="{% url 'book-create' %}">Neues Buch</a>
            <a href="{% url 'books' %}">Alle Bücher</a>
            <a href="{% url 'book-random' %}">Zufälliges Buch</a>
            <a href="{% url 'chapter-random' %}">Zufälliges Kapitel</a>
        {% endif %}

        <!--
        <hr>
        <div class="text-center">
            <video width="320" autoplay loop muted>
                <source src="{% static 'aRP1Gr7_460sv.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
            </video>
        </div>
        -->

        </div>
    {% endblock content %}

</div>

</body>
</html>