<div class="card m-1" id="{{ habit.id_slug }}">
    <div class="row g-0">
        <div class="col-6 col-xl-3 color-{{ habit.sphere }}">
            <a style="color: black; text-decoration: None" class="p-1" href="{% url 'habit-detail' habit.id_slug %}">
                {{ habit.title }}
            </a>

            {% if habit.link %}<a href="{{ habit.link }}">
                <i class="fas fa-link float-end" style="margin: 5px"></i>
            </a>{% endif %}
        </div>

        <div class="col-4 col-xl-2">
            <button
                    class="btn btn-sm {% if not habit.open_today and habit.last_day_action == 1 %} btn-success {% else %} btn-outline-primary {% endif %}"
                    style="margin-left: 5px"
                    onclick="post_call(
                            '{% url 'habit-event' habit.id_slug %}',
                            {action: 'done', date: '{{ day|date:"Y-m-d" }}'},
                            update_habit
                            )"
                    {% if not habit.open_today %} disabled {% endif %}
            >
                done
            </button>
            <button
                    class="btn btn-sm {% if not habit.open_today and habit.last_day_action == 2 %} btn-danger {% else %} btn-outline-primary {% endif %}"
                    {% if not habit.open_today %} disabled {% endif %}
                    onclick="post_call(
                            '{% url 'habit-event' habit.id_slug %}',
                            {action: 'fail', date: '{{ day|date:"Y-m-d" }}'},
                            update_habit)"
            >
                fail
            </button>
            <button
                    class="btn btn-sm {% if not habit.open_today and habit.last_day_action == 3 %} btn-secondary {% else %} btn-outline-primary {% endif %}"
                    {% if not habit.open_today %} disabled {% endif %}
                    onclick="post_call(
                            '{% url 'habit-event' habit.id_slug %}',
                            {action: 'cancel', date: '{{ day|date:"Y-m-d" }}'},
                            update_habit)"
            >
                skip
            </button>
        </div>

        <div class="col-2 col-xl-2" id="{{ habit.id_slug }}-current_streak">
            {% if habit.total_counter == 0 %}
                NEU
            {% else %}
                Reihe: {{ habit.current_streak }}
            {% endif %}
        </div>

    </div>
</div>
